<div class="row controls-row">
    <div class="col-4">
        <input id="size-input" type="number" min="2" max="15" step="1" value="10"/>
        <button id="prep-random-array-button" type="button" class="btn btn-primary">Losowa tablica</button>
        <button id="prep-random-order-button" type="button" class="btn btn-primary">Losowy porządek</button>
        <button id="prep-reverse-order-button" type="button" class="btn btn-primary">Odwrócony porządek</button>
    </div>
    <div class="col-4 controls-div">
        <button id="start-button" type="button" class="btn btn-primary">Start</button>
        <button id="pause-button" type="button" class="btn btn-primary">Pauza</button>
        <button id="restart-button" type="button" class="btn btn-primary">Restart</button>
        <input id="time-range" type="range" min="0" max="100" step=".001" value="0"/>
    </div>
    <div class="col-4">
    </div>
</div>
