<div class="row controls-row ps-2">
    <div class="col-4">
        <h1 class="text-center">Ustawienia symulacji</h1>
        <form class="row g-3 mt-5">
            <div class="row col-12">
                <label for="size-input" class="col-8 col-form-label">Rozmiar tablicy:</label>
                <div class="col-4">
                    <input id="size-input" type="number" class="form-control" min="2" max="15" step="1" value="10"/>
                </div>
            </div>
            <div class="col-4">
                <button id="prep-random-array-button" type="button" class="btn btn-primary">Losowa tablica</button>
            </div>
            <div class="col-4">
                <button id="prep-random-order-button" type="button" class="btn btn-primary">Losowy porządek</button>
            </div>
            <div class="col-4">
                <button id="prep-reverse-order-button" type="button" class="btn btn-primary">Odwrócony porządek</button>
            </div>
        </form>
    </div>
    <div class="col-4 controls-div">
        <button id="start-button" type="button" class="btn btn-primary">Start</button>
        <button id="pause-button" type="button" class="btn btn-primary">Pauza</button>
        <button id="restart-button" type="button" class="btn btn-primary">Restart</button>
        <input id="time-range" class="form-range" type="range" min="0" max="100" step=".001" value="0"/>
    </div>
    <div class="col-4">
    </div>
</div>
