<button id="start-button" type="button" class="btn btn-primary">Start</button>
<button id="pause-button" type="button" class="btn btn-primary">Pauza</button>
<button id="restart-button" type="button" class="btn btn-primary">Restart</button>
<input id="time-range" class="form-range" type="range" min="0" max="100" step=".001" value="0"/>
