---
title: Wyszukiwanie maksimum
find_max: active
alg: prepareFindMax
---
<!DOCTYPE html>
<html lang="en">
{% include _searching_head.liquid %}
<body>
<div class="container-fluid">
    {% include _searching_nav.liquid %}

    {% include _sorting_visul.liquid %}

    <div class="row controls-row ps-2">
        <div class="col-4">
            {% include _sorting_settings.liquid %}
        </div>
        <div class="col-4 controls-div">
            {% include _visul_sim_controls.liquid %}
        </div>
        <div class="col-4">
            {% include _alg_insertion_sort.liquid %}
        </div>
    </div>
</div>

{% include _sorting_scripts.liquid %}
{% include _searching_script.liquid %}
</body>
</html>
