---
title: Sortowanie koktajlowe
cocktail_shaker_sort: active
alg: prepareCocktailShakerSort
---
<!DOCTYPE html>
<html lang="en">
{% include _sorting_head.liquid %}
<body>
<div class="container-fluid">
    {% include _sorting_nav.liquid %}

    {% include _sorting_visul.liquid %}

    {% include _sorting_controls.liquid %}
</div>

{% include _sorting_scripts.liquid %}
{% include _sorting_script.liquid %}
</body>
</html>
